#js-canvas {
    width: 100%;
    height: 100vh;
    background-color: red;
}

#bpmn-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #ccc;
}

.bjs-container {
    width: 100%;
    height: 100vh;
}